# frontend env-
REACT_APP_API_URL=https://localhost:5000
VITE_API_BASE_URL=https://localhost:5000
VITE_AGORA_APP_ID=9a43.......
VITE_CLOUDINARY_CLOUD_NAME=d.....
VITE_CLOUDINARY_UPLOAD_PRESET=M.....

# production
# REACT_APP_API_URL=https://carelinkplatform-apigateway.onrender.com
# VITE_API_BASE_URL=https://carelinkplatform-apigateway.onrender.com
VITE_AGORA_APP_ID=
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET= 